* {
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

body {
    padding: 0;
    margin: 0;
}

.content {
    padding: 0 10%;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

a, a:visited {
  color: #8ac5c3;
  text-decoration: none;
}

a:hover {
  color: #0BBD93;
}

nav {
    display: flex;
    width: 100%;
}

.nav-menu {
    margin-left: auto;
    padding: 10px;
}

.nav-menu a {
    margin: 10px;
    padding: 5px 10px;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #fff;
    background: #0BBD93;
}

.category {
    font-weight: bold;
}

section {
    display: grid;
    padding-bottom: 50px;
}

section:not(last-child) {
    border-bottom: 1px solid #8ac5c3;
}

.profile-photo {
    width: 100%;
}

.experience {
    grid-gap: 20px 0;
}

.work-experience {
    border-left: 1px solid #ddd;
}

.work-experience .title {
    font-weight: bold;
    display: flex;
    height: 60px;
    align-items: center;
    padding-left: 10px;
}

.work-experience .title img {
    height: 30px;
    margin-right: 10px;
}

.profile-blurb {
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    .about {
        grid-template-columns: 1fr 2fr;
        grid-gap: 0 50px;
    }
}
